
{% extends "layout.html" %}

{% block content %}

<!-- _________________________________________________________-->


<section class="section information">
	<div class="container">
		<div class="columns is-desktop">
			<div class="column"> 
				<img src="/img/Analyse.png">
			</div>
			<div class="column">
				<h3>KNachweisführung nach DIN 18599-2018</h3>
				<p> Für Wohn- und Nichtwohngebäude können nachweise nach DIN 4108/4701 und 18599-2018 erstellt werden. Um für den Bauherren die beste Kombinationen aus Bauteilen zu ermitteln wird ein vorab automatisch ein Energiekonzept erstellt. {{a}}</p>
			</div>
		</div>
	</div>
</section>


<section class="section information">
	<div class="container">
		<div class="columns is-desktop">
			<div class="column is-hidden-desktop"> 
				<img src="/img/Wärmeerzeuger_CO2.png">
			</div>
			<div class="column is-one-third">
				<h2>Für alle kostenlos</h2>
				<p class="body1"> Signal ist eine unabhängige, gemeinnützige Organisation. Wir sind an keines der großen Technologieunternehmen gebunden, und wir können auch niemals von einem aufgekauft werden. Die Entwicklung wird unterstützt durch Zuwendungen und durch Spenden von Nutzern wie dir. <br> <br> 
					<button class="button button2"> 
						<a class="no-underline" href="https://signal.org/donate/"> An Signal spenden </a> 
					</button>
				</p>
			</div>
			<div class="column is-hidden-touch has-text-right"> 
				<img src="./Signal __ Startseite_files/Nonprofit503-876fb51a00d7d9de8a2c23f94394278191947bd56a8048df5d0138cde497332f.png">
			</div>
		</div>
	</div>
</section>


<!-- _________________________________________________________-->
{% endblock content %}



