
{% extends "layout.html" %}

{% block content %}

<!-- _________________________________________________________-->

  <div class="field">
    <form method="POST" action="">
      {{ form.hidden_tag() }}

      <fieldset >
        
        <legend class=""> <strong> Login</strong></legend> <br>


        <div >
          {{ form.email.label}}

          {% if form.email.errors %}
            {{ form.email (class="notification is-danger")}}
            <div class="notification is-danger">
              {% for error in form.email.errors %}
                <span> {{error}}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email (class="input") }} 
          {% endif %}       
        </div>

        <div >
          {{ form.password.label }}
          {% if form.password.errors %}
            {{ form.password (class="notification is-danger")}}
            <div class="notification is-danger">
              {% for error in form.password.errors %}
                <span> {{error}}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password (class="input") }} 
          {% endif %}         
        </div>


        <div class="">
        	<br>
        	{{ form.remember(class="checkbox")}}
        	{{ form.remember.label}}
        </div>


      </fieldset>

         <div>
          <br> {{ form.submit (class="button is-black") }}
        </div>   
        <small class="">
        	<br><a href="#">Passwort vergessen</a>
        </small>   
    </form>
  </div>

  <div >
    <small >
      Noch nicht registriert? <a href="{{url_for('registrieren') }}"> Registrieren </a>
    </small>
  </div>

<!-- _________________________________________________________-->
{% endblock content %}